# Database Configuration
DB_HOST=db
DB_USER=root
DB_PASSWORD=password
DB_NAME=myapp
DB_PORT=3306

# Server Configuration
NODE_ENV=development

# JWT Configuration
JWT_SECRET=JWT_SECRET=5717beb0435d9de18748f91fc0be629371b2ef694d79689fb60b0764724981fc1db009971e523783bbb6313bb9f45e39f2393dbfc845abeac55df03cef39ae52

# Logging Configuration
LOG_LEVEL=info
LOG_FILE_MAX_SIZE=5242880
LOG_FILE_MAX_FILES=5
LOG_CLEANUP_DAYS=30

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-northeast-1
AWS_S3_BUCKET=studysphere



# Frontend URL
FRONTEND_URL=http://localhost:3000 